*{
    padding: 0;
    margin: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-card-header div:first-of-type{
    font-weight: bold;
    font-size: 16px;
}

.layui-form{
    padding: 20px 30px 0 0;
}

.layui-form-item {
    margin-top: 20px;
}